body {
  font-family: Arial;
  background: #eef2ff;
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10;
}

input {
  width: 100%;
  
  margin: 8px 0;

  
}

button {
  background: #4f46e5;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #3f3acd;
}
